@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@600&family=PT+Sans&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 100%;
    // height: auto;
    margin-left: auto;
    margin-right: auto;
}
@import "main-section1";
@import "statistics-section";
@import "money-prices";
@import "staffs-info";
@import "media-table"